/* your styles go here */
.ui-dialog {
  border-color: #959da6;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
}

/*a[class*='atk-button'],*/
button[class*='btn btn-primary'],
input[class*='atk-button'],
a.ui-button,
button.ui-button,
input.ui-button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
  /*background: #ffffff;*/
  /*border: 1px solid #bec4c9;*/
  display: inline-block;
  font-weight: bold;
  line-height: 1.618;
  padding: 0.5em 1em;
  text-align: center;
  white-space: nowrap;
  background-color: #796AEE;
  border-color: #796AEE;
  color: #fff;
}

a[class*='atk-button'],
button[class*='atk-button'],
input[class*='atk-button'],
a.ui-button,
button.ui-button,
input.ui-button,
*[class*='atk-swatch']:not(.atk-text-inherit) a[class*='atk-button']:not([class*=atk-swatch]),
*[class*='atk-swatch']:not(.atk-text-inherit) button[class*='atk-button']:not([class*=atk-swatch]),
*[class*='atk-swatch']:not(.atk-text-inherit) input[class*='atk-button']:not([class*=atk-swatch]),
*[class*='atk-swatch']:not(.atk-text-inherit) a.ui-button:not([class*=atk-swatch]),
*[class*='atk-swatch']:not(.atk-text-inherit) button.ui-button:not([class*=atk-swatch]),
*[class*='atk-swatch']:not(.atk-text-inherit) input.ui-button:not([class*=atk-swatch]) {
  /*color: #fff;*/
}

.ui-dialog-titlebar-close{
  float: right;
}

.ui-dialog{
  z-index: 1001 !important;
}


.icon-check,
.icon-search,
.ui-icon-triangle-1-s
 {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before{
  content: "\f046";
}

.icon-search:before{
  content: "\f002";
}

.ui-dialog-titlebar-close span {
  display: none;
}
.ui-dialog-titlebar-close:after {
  content: 'x';
}

.rgrid .atk-box-small{
  min-height: 65px;
}

.rtabs div.ui-tabs-panel{
  padding: 10px !important;
}

.atk4_grid .totals{
  font-weight: bold;
}

.navbar{
  background: #737373 !important;
}

.ui-icon:before{
  font-family: FontAwesome !important;
}
.ui-icon-triangle-1-s:before{
  content: "\f078";
}

.ui-icon-triangle-1-n:before{
  content: "\f077";
}

.ui-icon-circle-triangle-e:before{
  content: "\f054";
}
.ui-icon-circle-triangle-w:before{
  content: "\f053";
}
